.container {
  position: absolute;
  top: 580px;
  background-color: #00000080;
  width: 100vw;
  padding: 0.5rem 0;
}

.articleBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bgImgArticle {
  padding: 0.5rem 1rem 0 1rem;
}

.bgImgArticle img {
  height: 100px;
}

.articleText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  padding: 0 1rem;
  position: relative;
}

.articleText h2 {
  font-size: 1rem;
}

.articleText p {
  font-size: 0.6rem;
  transform: translateY(-1rem);
}

.footprint {
  display: none;
}

.arrowImg {
  position: absolute;
  top: 85px;
  right: 30px;
  transition: all 0.5s ease-out;
}

.arrowImg:hover {
  cursor: pointer;
  right: 20px;
  transition: all 0.5s ease-out;
}

@media (min-width: 400px) {
  .bgImgArticle img {
    height: 150px;
  }
}

@media (min-width: 700px) {
  .container {
    top: 500px;
  }

  .bgImgArticle img {
    height: 250px;
  }

  .footprint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 0 1rem;
  }

  .footprint h2 {
    font-size: 1rem;
  }

  .footprint p {
    font-size: 0.6rem;
    transform: translateY(-1rem);
  }

  .arrowImg {
    position: absolute;
    top: 110px;
    right: 30px;
    transition: all 0.5s ease-out;
  }

  .arrowImg:hover {
    position: absolute;
    right: 20px;
    transition: all 0.5s ease-out;
  }
}

@media (min-width: 1400px) {
  .container {
    position: absolute;    
    left: 158px;
    top: 750px;
  }

  .articleBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    height: 300px;
  }

  .bgImgArticle img {
    width: 350px;
    height: auto;
  }

  .footprint h2,
  .articleText h2 {
    font-size: 1.8rem;
  }

  .footprint p,
  .articleText p {
    font-size: 1rem;
    transform: translateY(-1rem);
    padding-right: 10rem;
  }

  .arrowImg {
    top: 180px;
    right: 50px;
    transform: scale(1.5);
  }

  .arrowImg:hover {
    right: 40px;
  }
}
