.container {
  position: absolute;
  top: 580px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
}

.articleBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bgImgArticle {
  padding: 0.5rem 1rem 0 1rem;
}

.bgImgArticle img {
  height: 100px;
}

.articleText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 0 1rem;
}

.articleText h2 {
  font-size: 1rem;
}

.articleText p {
  font-size: 0.6rem;
  transform: translateY(-1rem);
}

.arrowImg {
  position: absolute;
  top: 90px;
  right: 50px;
  transition: all 0.5s ease-out;
}

.arrowImg:hover {
  cursor: pointer;
  right: 40px;
  transition: all 0.5s ease-out;
}

@media (min-width: 400px) {
  .bgImgArticle img {
    height: 150px;
  }

  .arrowImg {
    top: 120px;
    right: 60px;
    transition: all 0.5s ease-out;
  }

  .arrowImg:hover {
    right: 50px;
    transition: all 0.5s ease-out;
  }
}

@media (min-width: 700px) {
  .container {
    top: 550px;
  }

  .bgImgArticle img {
    height: 250px;
  }

  .arrowImg {
    top: 200px;
    right: 60px;
    transition: all 0.5s ease-out;
  }

  .arrowImg:hover {
    right: 50px;
    transition: all 0.5s ease-out;
  }
}
