.container {
  position: relative;
  height: 100vh;
  background-image: url("../../assets/Vectary_texturebackground.png");
  background-repeat: no-repeat;
  background-position: right;
}

.bgImage {
  position: absolute;
  width: 100vw;
}

.robotImage {
  position: absolute;
  top: 310px;
  right: 80px;  
}

