.container {
  position: relative;
}

.icons {
  display: none;
}

.bgImageDesktop {
  display: none;
}

.bgImage {
  position: absolute;
  top: 0;
  right: 0;
}

.robotImage {
  position: absolute;
  right: 80px;
  animation: robotJump 2s ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes robotJump {
  from {
    top: 140px;
  }

  to {
    top: 110px;
  }
}

@media (min-width: 700px) {
  .bgImageDesktop {
    display: unset;
    position: absolute;
    top: 0;
    right: 0;
    object-position: 200px -150px;
  }

  .bgImage {
    display: none;
  }

  .robotImage {
    position: absolute;
    right: 160px;
    transform: scale(1.3);
  }

  @keyframes robotJump {
    from {
      top: 70px;
    }

    to {
      top: 40px;
    }
  }

  .iconsBox {
    position: absolute;
    top: -10px;
    left: -15px;
    transform: scale(0.7);
  }
  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .icons a {
    margin-left: 1.7rem;
  }

  .icons a:hover {
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}

@media (min-width: 1400px) {
  .iconsBox {
    position: absolute;
    left: 20px;
    top: 75%;
    transform: scale(1);
  }
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icons a {
    margin-bottom: 3rem;
  }

  .icons a:hover {
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .boxLeft {
    position: absolute;
    left: 15px;
    top: -80px;
    width: 140px;
    height: 100vh;
    border-right: 1px solid white;
    z-index: 5;
  }

  .bgImageDesktop {
    object-position: unset;
  }

  .robotImage {
    position: absolute;
    right: 560px;
    transform: scale(1.4);
  }

  @keyframes robotJump {
    from {
      top: 210px;
    }

    to {
      top: 180px;
    }
  }

  
}
