.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}

.menuStandardList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuStandardList a {
  color: white;
  margin-right: 3rem;
  text-decoration: none;
}

.menuStandardList a:hover,
.menuStandardList a.active,
.menuStandardList a:active {
  border-bottom: 3px solid rgb(182, 182, 216);
  color: rgb(182, 182, 216);
  text-shadow: 0px 0px 15px white;
}

.sun {
  margin-right: 3rem;
  transform: scale(0.8) translateY(0.2rem);
}

.sun img:hover {
  transform: rotate(90deg);
  transition: all 1s ease-in-out;
  cursor: pointer;
}

@media (min-width: 1400px) {
  .menuStandardList a {
    font-size: 1.5rem;
  }

  .sun {
    margin-right: 4rem;
    transform: scale(1) translateY(0.3rem);
  }
}
