.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  animation: pagesFade 0.5s ease-in forwards;
}

.container h1 {
  color: white;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 3rem;
  width: 70%;
}

.container p {
  color: white;
  font-size: 0.8rem;
  transform: translateY(-20px);
  width: 70%;
}

@keyframes pagesFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 1400px) {
  .container h1 {
    font-size: 3.5rem;
  }
}
