.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  z-index: 9;
}

.container {
  position: fixed;
  z-index: 10;
  width: 160px;
  height: auto;
  top: 65px;
  right: 10px;
  background-color: rgba(39, 9, 9, 0.8);
  border-radius: 10px;
  animation: slideMenu 0.5s ease-out;
}

@keyframes slideMenu {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
