.icon1 {
  position: absolute;
  top: 30px;
  right: 30px;
}

.icon2 {
  position: absolute;
  top: 40px;
  right: 30px;
}

.icon3 {
  position: absolute;
  top: 50px;
  right: 30px;
}